@import url();@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

html, body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    height: 100%;
}

.profile-image-pressence{
    height: 3rem;
    width: auto;
}

.profile-image{
    height: 100px;
    width: auto;
}


.magnify{
    height: 1.5rem;
    width: auto;
    padding-left: 20px;
}

.bell{
    height: 1.5rem;
    width: auto;
    padding-left: 100px;
}

.container {
    min-height: 100vh;
    width: auto;
    border: 1px solid blue;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: auto 1fr;
    gap: 4px;
}


.header {
    border: 1px solid blue;
    grid-column: 2/3;
    display: grid;
    grid-template-columns: 2fr 1fr;
    align-items:center;
}

.username-header {
    font-weight: bold;
}

.search {
    display: grid;
    grid-template-columns: 0fr 1fr;
    gap: 10px;
    align-items:center;
}

.search-bar {
    border: 0px;
    height: 1.5rem;
    width: 95%;
    background-color: rgb(244, 244, 244);
    border-radius: 100px;
    padding-left: 15px; 
}

.pressence {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    justify-items: center;
    align-items: center;
    padding: 0% 30px 0% 30px;
}

.account-info {
    display: grid;
    grid-template-columns: 0fr 1fr;
    gap: 10px;
    align-items: center;
    padding-left: 15px;
    line-height: 1.5;
    font-weight: bold;
}

.account-info span {
    font-size: 1.8rem;
}

.header-buttons {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
    padding: 0 30px 0 70px;
}

.header-buttons button {
    border: 0px;
    border-radius: 100px;
    padding: 10px 0px;
    width: 80%;
}

.search, .pressence, .account-info, .header-buttons{
    border: 1px solid blue;
}


.sidebar {
    border: 1px solid blue;
    grid-row: 1/3;
    grid-column: 1/2;
    min-height: 100vh;
    display: grid;
    grid-template-rows: 0fr 1fr 1fr;
}

.title {
    border: 1px solid blue;
    display: grid;
    grid-template-columns: 0fr 1fr;
    gap: 20px;
    padding-left: 20px ;
    align-items: center;
}

.title p {
    font-size: 2rem;
    font-weight: bold;
    margin: 0;
}

.logo {
    height: 3rem;
    width: auto;
}



.main-content {
    border: 1px solid blue;
    grid-column: 2/3;
    min-height: 100vh;
}
